<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="is.silverberg.smartgymandroid"
    android:versionCode="1"
    android:versionName="1.0" >

	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.usb.acceessory"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library
            android:name="com.android.future.usb.accessory"
            android:required="false" />

        <service android:name="is.silverberg.smartgymandroid.usb.EquipmentConnectivityService" />
        <service android:name="com.lf.api.EquipmentManager" />
        <service android:name="com.lf.api.controller.usb.DeviceConnector" />

        <activity
            android:name="is.silverberg.smartgymandroid.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
				<action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
			    android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
			    android:resource="@xml/accessory_data" />
        </activity>
        <activity
            android:name="is.silverberg.smartgymandroid.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="is.silverberg.smartgymandroid.ProfilesActivity"
            android:label="@string/title_activity_profiles"
            android:parentActivityName="`.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="is.silverberg.smartgymandroid.HomeActivity" />
        </activity>
        <activity
            android:name="is.silverberg.smartgymandroid.ExerciseActivity"
            android:label="@string/title_activity_exercise"
            android:parentActivityName="is.silverberg.smartgymandroid.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="is.silverberg.smartgymandroid.HomeActivity" />
        </activity>
        <activity
            android:name="is.silverberg.smartgymandroid.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName="is.silverberg.smartgymandroid.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="is.silverberg.smartgymandroid.MainActivity" />
        </activity>
        <activity
            android:name="is.silverberg.smartgymandroid.WorkoutActivity"
            android:label="@string/title_activity_workout" >
            
        </activity>
    </application>

</manifest>
